
body 
{
    background-color:white;
}


.center 
{
    text-align:center;

}

.left
{

    text-align:left;
    color:black;
    font-family:Courier New;
    font-size:28px;
}


h3:hover
{
    
    color:red;

}
a:visited
{
  color:blue;  
}

 #pojemnik
 {
     width:1000px;
     margin-left:auto;
     margin-right:auto;
    
 }

 #naglowek 
 {

   color:white;
 
   padding:15px;
   background-color:black;


 }
    
 #kol_lewa
 {

    float:left;
    width:120px;
    min-height:620px;
    color:white;
    background-color:lightgray;
    padding:10px;

 }

 #content
 {
     float:left;
     min-height:640px;
     width:660px;
     color:black ;
     background-image: url(obraz2.jpg);
 }


 #kol_prawa
 {

     float:left;
     width:180px;
     min-height:620px;
     color:white;
     background-color:lightgray;
     padding:10px;
 }

 #footer
 {

     clear:both;
     color:white;
     padding:10px;
     background-color:black;


 }