body {
    background-color: white;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
    color: black;
    font-family: Courier New;
    font-size: 28px;
}
.font
{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;


}


h3:hover {
    
    color: red;
}

a:visited {
    color: blue;
}

#pojemnik {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#naglowek {
    color: white;
    padding: 15px;
    background-color: black;
}

#kol_lewa {
    float: left;
    width: 120px;
    min-height: 620px;
    color: white;
    background-color: lightgray;
    padding: 10px;
}

#content {
    float: left;
    min-height: 640px;
    width: 660px;
    color: black;
    background-color:lightskyblue;
    overflow:hidden;
}
#content > h2
{
  margin:0;
  white-space:nowrap;  
  animation:przesun 15s linear infinite;
}

@keyframes przesun
   {
   0% { transform:translateX(0); }
   100% { transform:translateX(-100%); }
   }

#kol_prawa {
    float: left;
    width: 180px;
    min-height: 620px;
    color: white;
    background-color: lightgray;
    padding: 10px;
}

#footer {
    clear: both;
    color: white;
    padding: 10px;
    background-color: black;
   
   
}
